<!DOCTYPE html>
<html>
<head>
  <title>ShoGoGo</title>
  <meta name="description" content="No show left behind. Start tracking your favorite artists. Get text updates of upcoming shows near you.">
  <meta name="keywords" content="bands, concerts, events, performances, notifications, text">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900,300italic,100italic,900italic,700italic,500italic,400italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/freebase/suggest/4_2/suggest.min.css" />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/freebase/suggest/4_2/suggest.min.js"></script>
</head>
<body>
	<%= render 'layouts/messages' %>
  <%= render 'layouts/logo' %>
  <%= yield %>
  
</body>
</html>
